<h2>Eventos</h2>
<hr />
<div class="form-inline px-3">
	<div class="form-group mb-2 row gap-2">
		<label for="txtFiltro" class="mr-2 col-1 px-0">Filtro:</label>
		<input id="txtFiltro" name="txtFiltro" type="text" class="mr-2 col-md-3 col" placeholder="buscar" [(ngModel)]="filtro">
	</div>
</div>

<table class="table table-striped">
	<thead class="table-dark">
		<tr>
			<th>#</th>
			<th>
				<button
					class="btn btn-primary"
					(click)="alterarImagens()"
				>{{!mostrarImagens ? "Ocultar" : "Mostrar"}}
				</button>
			</th>
			<th>Tema</th>
			<th>Local</th>
			<th>Data</th>
			<th>Qtd Pessoas</th>
			<th>Lote</th>
			<th>Opções</th>
		</tr>
	</thead>

	@if (!!this.eventos && this.eventos.length > 0) {
		<tbody>
			@for (evento of this.eventosFiltrados; track evento.eventoId) {
				<tr class="table-bordered">
					<td>{{evento.eventoId}}</td>
					<td>
						<img
							src="assets/{{evento.imagemURL}}"
							alt=""
							[style.width.px]="largImagem"
							[style.margin.px]="margImagem"
							[collapse]="this.mostrarImagens"
							[isAnimated]="true"
						>
					</td>
					<td>{{evento.tema}}</td>
					<td>{{evento.local}}</td>
					<td>{{evento.dataEvento}}</td>
					<td>{{evento.qtdPessoas}}</td>
					<td>{{evento.lote}}</td>
					<td>
						<button class="btn btn-primary col mx-1">Editar</button>
						<button class="btn btn-danger col mx-1">Excluir</button>
					</td>
				</tr>
			}
		</tbody>
	}

	@else {
		<tfoot>
			<tr>
				<td colspan="8" class="py-4">
					<h4 class="text-center">Nenhum evento encontrado.</h4>
				</td>
			</tr>
		</tfoot>
	}
</table>
